BOT_TOKEN=
DE_PANEL_URL=
DE_USERNAME=
DE_PASSWORD=
NL_PANEL_URL=
NL_USERNAME=
NL_PASSWORD=
AGGREGATOR_URL=http://localhost:8080
CRYPTOMUS_API_KEY=
CRYPTOMUS_MERCHANT_ID=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
